body{
    text-align: center;
}

/* Styles for light mode */
.light-mode {
    background-color: #f0f0f0;
    color: #333;
  }
  
  /* Styles for dark mode */
  .dark-mode {
    background-color: #333;
    color: #f0f0f0;
  }
  