body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
.container{

    text-align: center;
    color: black;
    display: inline-block;
    border-radius: 20px;
    background-color: blueviolet;
    box-shadow: 5px 5px black;
}
#time{
   color: white;
}