*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
    font-family: sans-serif;
  }
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}
.wrap{
    text-align: center;
}
#inputNumber{
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}
h1{
    text-align: center;
}
h2{
    margin-top: 10px;
}